.quote {
    padding: 50px;
   text-align: center;
display: flex;
justify-content: center;

}

.quote-text {
    color: #191635;
    font-size: 20px;
}
.quote-author{
    color:  #ff3980;
    font-size: 15px;


}