html {
  color: #191635;
  font-family: 'Roboto mono', serif;
 scroll-behavior: smooth;

}
.link{
  background-color: #ff3980;
  color: white;
  font-size: 20px;
  padding: 15px 30px 15px 30px;
  text-decoration: none;
  text-transform: uppercase;
  border: solid 2px #ff3980;
border-radius: 10px

}
.link:hover {
    background-color: white;
    color:#191635;
    border: solid 2px #ff3980;
    transition: 0.3s;}

    .inner-content{
      max-width: 800px;
    }